<div class="row">
  <div class="col-sm-12 col-md-12 main">
  	<h1 class="page-header">Galleries Registrations Activity</h1>
    <div class="row placeholders">
      <div class="col-sm-12">
  	    <%= render partial: "admin/shared/activities_table", locals: { activities: @activities} %>
      </div>
    </div>
  </div>
</div>