<div class="row">
  <div class="col-sm-12 col-md-12 main">

    <%= content_for :page_title do %>New Gallery<% end %>
  	<h1 class = "page-header">New Gallery</h1>

  	<%= render 'form' %>
  </div>
</div>
