<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <%= content_for :page_title do %>Add New Mobile Product<% end %>
  	<h1 class = "page-header">Add New Mobile Product</h1>

  	<%= render 'form' %>

  </div>
</div>
