<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <%= content_for :page_title do %>New Mobile Product Registration<% end %>
  	<h1 class = "page-header">New Mobile Product Registration</h1>

  	<%= render 'form' %>

  </div>
</div>