<div class="nested-fields">
    <fieldset>
      <div class="field">
        <%= f.label :name, "Agency" %><span class="red">*</span> </br>
        <%= f.select :name, options_for_select(Agency.all.collect {|p| [ "#{p.name}", p.id ] }),
          {include_blank: "Select"},{:class => "form-control formwidth"} %>

      </div>
    </fieldset>
</div>