<section class="usa-section" id="hotspot_featured" >
	<div class="paper">
	    <div class="grid-container grid-container-desktop">
	      	<div class="grid-row">
		      	<div class="grid-col-12">
				    <%= content_for :page_title do %>New Social Media Account<% end %>
				  	<h1 class="page-header">New Social Media Account</h1>
				  	<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</section>