<div class="row">
  <div class="col-sm-12 entry widget-wrap">
    <%= content_for :page_title do %>Search Pages<% end %>
    <h1 class=""> Search pages</h1>
    <p>These are widgets browsing against the API.  Social Media Search, Social Media Verification, and Mobile Apps Search are included</p>
    <div class="featured-tabs clearfix" role="tabpanel">
      <ul class="flextabs-custom-controls clearfix" role="tablist">
        <li role="presentation" class="tab-pop firstab"><a href="#search_social" aria-controls="home" role="tab" data-toggle="tab" class="flex-active">Search Social Media Accounts</a></li>
      </ul>
      <div class="tab-content flextabs clearfix">
        <div role="tabpanel" class="tab-pane fade in active" id="search_social">
          <div class="row">
            <div class="col-sm-12">
              <form class="navbar-form navbar-left" role="search" id="social-media-search">

                <button type="submit" class="button">Submit</button>
                <div class="form-group">
                  <label for="search-social-box">Agency</label>
                  <%= select_tag "agency", options_from_collection_for_select(Agency.all.order(name: :asc), "id", "name"), class: "test" , id: "social-media-agency" %></br>
                  <label for="search-social-platform">Service</label>
                  <%= select_tag "service", options_from_collection_for_select(Admin::Service.all, :shortname, :longname), class: "test", id: "social-media-service" %></br>
                  <label for="search-social-page-size">Page Size:</label><input type="text" class="form-control" id="search-social-page-size" placeholder="25" value="25"><br/><br/>
                   <label for="search-social-page">Page:</label><input type="text" class="form-control" id="search-social-page" placeholder="1" value="1">
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="metadata-results">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="social-media-results">
                <ul class="media-list" id="social-media-collection">

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :additional_javascript do %>
<script id="social-media-template" type="text/x-handlebars-template">
  <div class="media social-media-result">
    <div class="media-body text-overflow">
      <a href="{{service_url}}" target="_"><h4 class="media-heading">
      {{#if organization}}
        {{organization}}
      {{else}}
        {{service_display_name}}:{{service_url}}
      {{/if}}
      </h4></a>
      <p>
      {{short_description}}
      </p>
      <p>
      Agencies:{{#each agencies}}
        {{name}}
      {{/each}}
      </p>
      <p>
      Tags List: {{#each tags}} {{tag_text}} {{/each}}
      </p>
    </div>
  </div>
</script>

<script id="metadata-template" type="text/x-handlebars-template">
  <div class="metadata-results">
  <h2>Metadata</h2>
    <ul>
      <li>count: {{ count}}</li>
      <li>page: {{ page }}</li>
      <li>page_size: {{ page_size }}</li>
      <li>pages: {{ pages }}</li>
    </ul>
  </div>
</script>

<script id="token-input-li-template" type="text/x-handlebars-template">
  <div id="social-li-{{id}}" data-id="{{id}}">
  {{name}}
  <span class="badge">{{count}}</span>
  <a href="javascript:remove_token('{{id}}');" class="pull-right"><i class="fa fa-times"></i></a>
  </div>
</script>
  <script>  
    var source_social_media_template   = $("#social-media-template").html();
  var social_media_template = Handlebars.compile(source_social_media_template); 
  var source_social_media_li_template   = $("#token-input-li-template").html();
  var social_media_li_template = Handlebars.compile(source_social_media_li_template); 

  var source_metadata_template = $('#metadata-template').html();
  var metadata_template = Handlebars.compile(source_metadata_template);
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('.flex-active').toggleClass('flex-active');
      e.currentTarget.className = "flex-active";
    })

    $('#social-media-search').submit(function(e){
      e.preventDefault();
      $('#social-media-collection').empty();
      $.get("<%= ENV['REGISTRY_API_HOST'] %>/api/v1/social_media.json",{
        agencies: $('#social-media-agency').val(),
        services: $('#social-media-service').val(),
        page_size: $('#search-social-page-size').val(),
        page: $('#search-social-page').val()
      }, function(data){
        $('#metadata-results').html(metadata_template(data.metadata));
        $('#social-media-collection').html('');
        for(var i =0; i<data.results.length; i++){
          $('#social-media-collection').append(social_media_template(data.results[i]));
        }
      });
  });
  </script>
<% end %>
