
<form class="navbar-form navbar-left" role="search" id="mobile-search">
  
  <button type="submit" class="button">Submit</button>
  <div class="form-group">
    <label for="search-mobile-box">Search by Tag:</label><input type="text" class="form-control" id="search-mobile-box" placeholder="Search">
      <label for="search-mobile-page-size">Page Size:</label><input type="text" class="form-control" id="search-mobile-page-size" placeholder="25" value="25"><br/><br/>
     <label for="search-mobile-page">Page:</label><input type="text" class="form-control" id="search-mobile-page" placeholder="1" value="1">
  </div>
</form>
<div class="row">
  <div class="col-sm-12">
    <div>
      <ul id="mobile-tokens" class="agencyResults">

      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id="mobile-metadata-results">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="mobile-results">
      <ul class="media-list" id="mobile-collection">

      </ul>
    </div>
  </div>
</div>