<script id="mobile-app-template" type="text/x-handlebars-template">
  <div class="media">
    {{#if icon_url}}
    <a href="#" class="pull-left">
      <img src="{{icon_url}}" class="media-object img-rounded" style="height: 64px; width:64px" alt='' />
    </a>
    {{/if}}
    <div class="media-body text-overflow">
      <h4 class="media-heading">{{name}}</h4> 
      {{short_description}}
      <ul>
        {{#each versions}}
        <a href="{{store_url}}">{{platform}}</a>
        {{/each}}
      </ul>
    </div>
  </div>
</script>

<script id="token-input-mobile-li-template" type="text/x-handlebars-template">
  <li id="mobile-li-{{id}}" data-id="{{id}}">
  {{name}}

  {{count}}
  <a href="javascript:remove_mobile_token('{{id}}');"><i class="fa fa-times"></i></a>
  </li>
</script>

<script>
  var source_mobile_template   = $("#mobile-app-template").html();
  var mobile_template = Handlebars.compile(source_mobile_template); 
  var source_mobile_li_template   = $("#token-input-mobile-li-template").html();
  var mobile_li_template = Handlebars.compile(source_social_media_li_template); 

  $("#search-mobile-box").tokenInput("<%= ENV['REGISTRY_API_HOST'] %>/api/v1/mobile_apps/tokeninput.json", {
    crossDomain: false,
    tokenValue: "key",
    onAdd: function(item){
      item["id"]= item["key"].replace("|","-")
      $('#mobile-tokens').append(mobile_li_template(item));
      $('#mobile-search').submit();
    }
  });

  function remove_mobile_token(id){
    key = id.replace("-","|")
    $("#search-social-box").tokenInput("remove", {"key": key});
    $("#social-li-"+id).remove();
    $('#mobile-search').submit();
  }

  $('#mobile-search').submit(function(e){
    e.preventDefault();
    $('#social-media-collection').empty();
    tokens = $("#search-mobile-box").tokenInput("get");
    agencies = [];
    services = [];
    tags = []
    text = []
    for(var i=0; i < tokens.length; i ++){
      split_data = tokens[i]["key"].split("|");
      if(split_data[0].indexOf("agency")==0){
        agencies.push(split_data[1])
      }else if(split_data[0].indexOf("tag")==0){
        tags.push(split_data[1])
      }else if(split_data[0].indexOf("text")==0){
        text.push(split_data[1])
      }else{

      }
    }
    $.get("<%= ENV['REGISTRY_API_HOST'] %>/api/v1/mobile_apps.json",{
      q: text.join(" "),
      agencies: agencies.join(","),
      tags: tags.join(",")
    }, function(data){
      for(var i =0; i<data.length; i++){
        $('#mobile-collection').append(mobile_template(data[i]));
      }
    })
  });
</script>