<script id="mobile-app-gallery-template" type="text/x-handlebars-template">
  <div class="media">
    {{#if icon_url}}
    <a href="#" class="pull-left">
      <img src="{{icon_url}}" class="media-object img-rounded" style="height: 64px; width:64px" alt='' />
    </a>
    {{/if}}
    <div class="media-body text-overflow">
      <h4 class="media-heading">{{name}}</h4> 
      {{short_description}}
      <ul>
        {{#each versions}}
        <a href="{{store_url}}">{{platform}}</a>
        {{/each}}
      </ul>
    </div>
  </div>
</script>

<script id="social-media-gallery-template" type="text/x-handlebars-template">
  <div class="media">
    <div class="media-body text-overflow">
      <a href="{{service_url}}"><h4 class="media-heading">
      {{#if organization}}
        {{organization}}
      {{else}}
        {{service_display_name}}
      {{/if}}
      </h4></a>
      {{#each agencies}}
        {{name}}
      {{/each}}
    </div>
  </div>
</script>

<script>
  $(document).ready(function(){
    var source_mobile_gallery   = $("#mobile-app-gallery-template").html();
    var mobile_gallery_template = Handlebars.compile(source_mobile_gallery); 
    var source_social_media_gallery   = $("#social-media-gallery-template").html();
    var social_media_gallery_template = Handlebars.compile(source_social_media_gallery ); 

    function load_gallery(gallery_id){
      $.get("<%= ENV['REGISTRY_API_HOST'] %>/api/v1/galleries/"+gallery_id+".json",function(data){
        if(data){
          $('#gallery-results-collection').empty();
          for(var i=0;i<data.gallery_items.length;i++){
            if(data.gallery_items[i].type.indexOf("Social Media")==0){
              $('#gallery-results-collection').append(social_media_gallery_template(data.gallery_items[i]));
            }else{
              $('#gallery-results-collection').append(mobile_gallery_template(data.gallery_items[i]));
            }
          }
        }
      })
    }
    $('#gallery-inclusion').submit(function(e){
      e.preventDefault();
      load_gallery($('#gallery-box').val());
    })
    load_gallery($('#gallery-box').val())
  });
</script>