  <%= content_for :page_title do  %> U.S. Digital Registry <% end %>

<div class="row">
  <div class="col-sm-12">
  <h1 class="page-title">U.S. Digital Registry for Federal Agencies</h1>

	<p><a href="https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2017/m-17-06.pdf">OMB Memo M-17-06</a>, “Policies for Federal Agency Public Websites and Digital Services,” states:</p>
	<p style="padding: 0px 20px;">
	"To help confirm the validity of official U.S. Government digital platforms, within 60 days of the publication date of this Memorandum, agencies must register their public-facing digital services such as social media, collaboration accounts, mobile apps and mobile websites, with the U.S. Digital Registry at: http://www.digitalgov.gov/services/u-s-digital-registry/."</p>
<h2>Federal agencies are required to: </h2>
<div style="padding: 0px 20px;"><ul style="padding: 0px 20px;"><li>Register official social media accounts, mobile apps, and mobile websites. Do not register personal, employee, or other types of accounts.</li><li>
Maintain accurate information about accounts, apps, and mobile websites</li><li>
Annually review registered accounts, apps, websites</li><li>
Immediately archive deleted accounts</li>
</ul></div>
<h3>Register and Manage Accounts</h3>
<p>To register and manage accounts on the U.S. Digital Registry you must have a <a href="https://www.login.gov">Login.gov</a> account, which is available to federal government employees and contractors with a valid .gov, .mil, or .fed.us email address.</p>
<div style="padding: 0px 20px;"><ol style="padding: 0px 20px;"><li>Go to the U.S. Digital Registry</li><li>
In the top navigation bar, far right, access the “AGENCY PARTNERS REGISTER/LOG IN” link. You’ll be brought to the Login.gov log in page for the U.S. Digital Registry.</li></ol></div>
<p>If you already have a <a href="https://www.login.gov">Login.gov</a> account with your government email address, you won’t have to do anything else. Just use that account information to register or to access accounts on U.S. Digital Registry.</p>
<p>If you don’t already have a <a href="https://www.login.gov">Login.gov</a>  account with your government email address, follow the instructions to create an account.</p>
<p>Need assistance with your accounts, email <a href="mailto:usdigitalregistry@gsa.gov">usdigitalregistry@gsa.gov</a></p>
<p>Notice: As of April 19, 2018, all entries that have not been updated by agencies since January 1, 2017, have been archived. Archived accounts will not appear in the public-facing list and API of official, active accounts. This was done to help ensure that users can trust that accounts listed in the U.S. Digital Registry are official and active.</p>
<p>If your federal agency account has been archived but is still active, you can easily log in and update these accounts to make authenticate again. In the meantime, GSA will continue to help agencies fulfill this need by providing support and guidance.</p>
<p> Have feedback or questions? Email <a href="mailto:usdigitalregistry@gsa.gov">usdigitalregistry@gsa.gov</a></p>


