# The Yahoo! API keys for use with this application
# Insert the Yahoo! API key(s) for your app and save a copy of
# this file as config/initializers/secret_yahoo_app_ids.rb
Ringsail::Application.config.yahoo_app_id = 'add your app ID here'
