<section class="usa-section" id="resources_featured">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row">

      <div class="grid-col-12">
  <%= content_for :page_title do %>Editing Tag<% end %>
  <h1 class="page-header">Editing Tag</h1>

  <%= render 'form' %>

	  </div>
	</div>
</div>
</section>