<p>Hello, <%= @outlets_count == 1 ? 'an account' : "#{@outlets_count} accounts" %> you submitted to the USA.gov Social Media Registry over six months ago <%= @outlets_count == 1 ? 'needs' : 'need' %> to be reviewed.</p>

<p>To review, edit, or remove these accounts from the Registry, please follow this link: <%= @link_url %>.</p>

<p>If you have any questions about this service, please email socialmediaregistry@gsa.gov.</p>

<p>Thank you,</p>

<p>The USA.gov Social Media Registry team.</p>

<p>Sent to <%= @email %></p>
