<div class="col-sm-12 col-md-12 main">
  <div class="row">
  	<div class="col-sm-12">
  	<h1 class="page-header">Social Media Accounts Activity</h1>
	</div>
  	<div class="col-sm-12">
  	 	<%= render partial: "admin/shared/activities_table", locals: { activities: @activities} %>
	</div>
  </div>
</div>