
<div class="col-sm-3 col-md-2 sidebar">
	<%= render partial: "sidebar" %>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1>Editing Outlet</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_outlet_path(@outlet) %> |
<%= link_to 'Back', admin_outlets_path %>
</div>