<div class="row">
  <div class="col-sm-12 col-md-12 main">
    <%= content_for :page_title do %>Agencies<% end %>
    <h1 class="page-header">Agencies</h1>
    <div class="row placeholders">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 
        <table id="data-tables" class="table table-striped">
      		<thead>
            <tr class = "agency_row">
              <th>Agency Name</th>
              <th>Parent Agency</th>
              <th># of Social Accounts (published)</th>
              <th># of Apps (published)</th>
              <th class = "lastlinks">Actions</th>
        		</tr>
          </thead>

          <tbody>
        		
          </tbody>
    	  </table>
      </div>
    </div>
  </div>
</div>

<% content_for :additional_javascript do %>
  <script>
    var data_tables = null;
    $(document).ready(function() {
       data_tables = $('#data-tables').dataTable({
        "ajax" : {
          "url":"/admin/agencies.json"
        },
        "scrollY":        "400px",
        "columns": [
          { "data" : "name"},
          { "data" : "parent_name"},
          { "data" : "outlet_counts"},
          { "data" : "mobile_counts"},
          { "data" : "DT_RowId"}
        ],
        "columnDefs": [
          {
            "render": function(data,type,row){
              return '<a href="/admin/agencies/'+data+'"><i class = \"glyphicon glyphicon-info-sign\"></i></a><a href="/admin/agencies/'+data+'/stats"><i class = \"glyphicon glyphicon-dashboard\"></i></a>';
            }, "targets":[4]
          }
        ],
        'sDom':'<"row"<"col-sm-12"lf>> <"row"<"col-sm-12"ip>> rt<"row"<"col-sm-12"ip>> <"row"<"col-sm-12"lf>>'});
    } );


  </script>
<% end %>