<div class="span14">

<form action="/tags" method="GET">
<input type="text" name="q" value="<%= @last_input %>" class="span7">
<button class="btn" type="submit">Autocomplete</button>
</form>

<ul>
<% @tags.each do |tag| %>
  <li><%= tag.tag_text %></li>
<% end %>
</ul>

</div>
