<%= content_for :page_title do  %>U.S. Digital Registry for Developers<% end %>
<section class="usa-section" id="resources_featured">
  <div class="tablet-lg:grid-container tablet-lg:grid-container-desktop">
    <div class="grid-row tablet-lg:grid-gap-4">
      <div class="grid-col-12 tablet-lg:grid-col-12">
        <div class="collection">


			<h1 class="page-title">U.S. Digital Registry for Developers</h1>
          	<p>If you have questions, comments or ideas on how to use or improve the U.S. Digital Registry, please contact us via email at <a href="mailto:usdigitalregistry@gsa.gov">usdigitalregistry@gsa.gov</a>.

			<h2>API Documentation</h2>
			<p>The API documentation has moved to <a href="https://open.gsa.gov/api/digital-registry/">https://open.gsa.gov/api/digital-registry/</a>.</p>
			<img style="width:100%; border: 1px solid grey; padding: 10px;" src="/assets/open_gsa.png"></img>

        </div>
      </div>
    </div>
  </div>
</section>

