
    <form class="navbar-form navbar-left" role="search" id="social-media-search">
      <div class="form-group">
        <input type="text" class="form-control" id="search-social-box" placeholder="Search">
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
 
<div class="row">
  <div class="col-sm-12">
    <div class="social-media-results">
      <h4>Results</h4>
      <ul class="media-list" id="social-media-collection">

      </ul>
    </div>
  </div>
</div>