<script id="social-media-template" type="text/x-handlebars-template">
  <div class="media">
    <div class="media-body text-overflow">
      <a href="{{service_url}}"><h4 class="media-heading">
      {{#if organization}}
        {{organization}}
      {{else}}
        {{service_display_name}}:{{service_url}}
      {{/if}}
      </h4></a>
      <p>
      {{short_description}}
      </p>
      <p>
      Agencies:{{#each agencies}}
        {{name}}
      {{/each}}
      </p>
      <p>
      Tags List: {{#each tags}} {{tag_text}} {{/each}}
      </p>
    </div>
  </div>
</script>

<script id="token-input-li-template" type="text/x-handlebars-template">
  <div id="social-li-{{id}}" data-id="{{id}}">
  {{name}}
  <span class="badge">{{count}}</span>
  <a href="javascript:remove_token('{{id}}');" class="pull-right"><i class="fa fa-times"></i></a>
  </div>
</script>

<script>
  var source_social_media_template   = $("#social-media-template").html();
  var social_media_template = Handlebars.compile(source_social_media_template); 
  var source_social_media_li_template   = $("#token-input-li-template").html();
  var social_media_li_template = Handlebars.compile(source_social_media_li_template); 

  $("#search-social-box").tokenInput("<%= ENV['REGISTRY_API_HOST'] %>/api/v1/social_media/tokeninput.json", {
    crossDomain: false,
    tokenValue: "key",
    onAdd: function(item){
      item["id"]= item["key"].replace("|","-")
      $('#social-tokens').append(social_media_li_template(item));
      $('#social-media-search').submit();
    }
  });
  function remove_token(id){
    key = id.replace("-","|")
    $("#search-social-box").tokenInput("remove", {"key": key});
    $("#social-li-"+id).remove();
    $('#social-media-search').submit();
  }

  $('#social-media-search').submit(function(e){
    e.preventDefault();
    $('#social-media-collection').empty();
    tokens = $("#search-social-box").tokenInput("get");
    agencies = [];
    services = [];
    tags = []
    text = []
    for(var i=0; i < tokens.length; i ++){
      split_data = tokens[i]["key"].split("|");
      if(split_data[0].indexOf("service")==0){
        services.push(split_data[1])
      }else if(split_data[0].indexOf("agency")==0){
        agencies.push(split_data[1])
      }else if(split_data[0].indexOf("tag")==0){
        tags.push(split_data[1])
      }else if(split_data[0].indexOf("text")==0){
        text.push(split_data[1])
      }else{

      }
    }
    $.get("<%= ENV['REGISTRY_API_HOST'] %>/api/v1/social_media.json",{
      q: text.join(" "),
      agencies: agencies.join(","),
      services: services.join(","),
      tags: tags.join(",")
    }, function(data){
      for(var i =0; i<data.length; i++){
        $('#social-media-collection').append(social_media_template(data[i]));
      }
    })
  });
</script>