/*
 * This manifest file includes the CSS files required by default
 *= require_self
 *= require morris
 *= require timeline
 *= require datatables
 *= require custom-token-input
 *= require font-awesome
 *= require jqcloud
 */

@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
*{
  padding: 0;
  margin: 0;
}
.td{
  word-wrap: break-word;
}
body {
  padding-top: 50px;
    font-family: Trebuchet,Tahoma,sans-serif;
    color:#555;
    font-size: 16px;
    line-height:1.6em;
//    background: #f5f5f5 url('bodybg1.jpg') 0 0 fixed;
   
}

.table_list{
  list-style:none;
}
.placeholder{
  list-style: none;
}
#navbar-container{
  padding-left:0px;
  padding-right:0px;
  width:100%;
}
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.gallery-collection li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.gallery-collection li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
ol.gallery-collection li{
    cursor: move;
    background-color: #fafafa;
}
/*Sub Nav Tab Panel*/
.subnav-tabpanel{}
.subnav-tabpanel  li.active > a:hover, .nav-tabs > li.active > a:focus{
    color:#fff!important;
}

/*
 * Global add-ons
 */
.container{}
.sub-header {
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
}
a, a:link, a:visited{
   color: #ff5049;}
.meta a, .catslide-meta a, p.sitemap-meta a{
    outline: none;
text-decoration: none;
}
h1{
    font-size: 30px;
letter-spacing: 0;
line-height: 1.3em;
    font-weight: 700;
}
h2{font-size: 26px;
letter-spacing: 0;
line-height: 1.3em;
font-weight: 700;}
h3{
    font-size: 18px;
line-height: 1.5em;
letter-spacing: 0;
margin: 20px 0 20px 0px;
border-bottom: dotted 1px #bbb;
font-weight: 700;
}
.btn-primary{
    background: #ff5049 !important;
color: #fff !important;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
display: inline-block;
border: 0;
font-weight: normal;
font-size: .9em;
font-family:    'roboto condensed','source sans pro',arial, sans-serif;
   
}
textarea{
    resize: none!important;
    overflow-y: auto;
}
fieldset {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 1.4em 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    width:100%;
    background: #eee;
    
}
fieldset .formwidth{
    width:100%;  
}
fieldset .form-control{
    background-color: #fff!important;
}
legend {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: left !important;
    border: none!important;
    width:200px!important;
     color:#555!important;   
    display:inline-block!important;
    
    padding-left:5px;
}
fieldset > div {
    line-height: 15px;
}
.center{text-align: center;}
.bg-info{padding: 15px; background-color: #fafafa; border: solid 1px #eee; margin-bottom: 2px; }
/*Dashboard Styles*/
.dashboard{background-color: #fff;}
.activity-trackers{
    border: solid 1px #ccc;
background-color: #fafafa;
border-radius: 8px;
box-shadow: 1px 1px 15px #ddd;
    padding: 15px;
    margin-top: 15px;
}
.error{
    color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
    padding: 15px;
    border: 1px solid transparent;
border-radius: 4px;
}
.inlineErrorMsgs{
    margin: 0 0 15px 0;
    padding:0 0 0 35px;
}
.inlineErrorMsgs li{
    list-style: none;
    color: #a94442;
}
.wrapping{
    margin-top: 25px;
}
.top-buffer { margin-top:5px; }
/*Navbar Styles*/
.navBrand{background-color: #fafafa!important;  text-align: left;padding: 5px 0 0 150px;transition: left 0.5s;}
@media (max-width: 1060px) {
  .navBrand {
    padding: 5px;
text-align: center;
  }
}

.brandImg{ background-image: url(logo2.png); background-repeat: no-repeat; height: 45px;  width:240px; display:inline-block; background-size: 100%;}
.navbar-collapse{
    background: #0c555d !important;
}
.navbar-nav{
    padding-left: 125px;
    transition: left 0.5s;
}
@media (max-width: 1060px) {
  .navbar-nav {
    padding-left: 15px;
  }
}
.navbar-nav > li > a{
    color: #FFF;
    font-family: Trebuchet,Tahoma,sans-serif!important;
    font-size: 9pt!important;
    font-weight: bold;
}

.dropdown-menu >li >a{
    color: #FFF!important;
    font-family: Trebuchet,Tahoma,sans-serif!important;
    font-size: 9pt!important;
    font-weight: bold;
}
.dropdown-menu >li >a:hover{
     color: #ff5049!important;
}
.dropdown-menu >li >a:focus,.dropdown-menu >li >a:active {
    color: #ff5049!important;
    border:dotted 1px #ff5049;
    box-shadow: none!important;
}
.nav .open a{
    background: #0c555d !important;
    color: #ff5049;
}
.nav .open a:focus, .nav .open a:active{
    border:dotted 1px #ff5049;
}
.navbar-nav > .active > a{
    color:#ff5049!important;
}
.navbar-nav > .active > a:hover,.navbar-nav > .active > a:focus{
    background: #0c555d !important;
    color: #ff5049!important;
}
.navbar-nav > li > a:focus{
     background: #0c555d !important;
    border:dotted 1px #ff5049;
}
.navbar-nav > li >:active{
     border:dotted 1px #ff5049!important;
}
.navbar-nav > li >a{
    color:#fff;
    text-transform: uppercase;
}
.navbar-nav > li >a:hover, 
.navbar-nav > li >a:focus{
    background: #0c555d !important;
    color: #ff5049;
    
}
.navbar-nav > li > .dropdown-menu{
    background: #0c555d !important;
    margin-top: 1px;
    font: inherit;  
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: #0c555d !important;
    color: #ff5049;
}
.navbar-right{
    margin-right: 125px;
    transition: left 0.5s;
}
@media (max-width: 1080px) {
  .navbar-right {
    margin-right: 15px;
  }
}
.dropdown-menu > li > a{
    color:#FFF;
    
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    color:#ff5049;
    background-color: #0c555d!important;
}
.dropdown-menu >li > a:hover{
   color:#ff5049;
    background-color: #0c555d!important;
}
.dropdown-header{
    color: #ccc;
    line-height:1.8em;
}
.container > .navbar-header{
    background-color:#0c555d;
}
.navbar-toggle{
    border-color: #ff5049;
    margin-right: 25px;
}
.navbar-toggle .icon-bar{
    background-color:#ff5049;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.page-header{
  margin-top: 0;
  border: none!important;
}

/*
 * Placeholder dashboard ideas
 */
.tbldisplay{background-color: #fff;overflow: scroll; min-height: 200px; height: 130%;}

.placeholders {
  margin-bottom: 30px;
  background-color: #fafafa;
  border: solid 1px #ccc;
  padding: 15px;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.verticalTabsWrap{padding: 0;}
.verticalTabs {}
.verticalTabs-item:first-child{border-top-right-radius:0; border-top-left-radius:0; }
.verticalTabs a{color:#555; background-color:#fafafa;}
.verticalTabs-item.active{box-shadow: 2px 0px 8px #ccc; background-color: #fff;border: solid 1px #bbb; color: #555;}
.verticalTabs-item:hover{border: solid 1px #bbb; color: #555;}
.verticalTabs:hover{box-shadow: 2px 2px 2px #ccc; background-color: #fff;}
.list-group-item{
    overflow-wrap: break-word;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{background-color: #fff; color:#555; padding-left: 15px; border: none;}
.count{display: inline-block; min-width: 25px; padding:0 2px; margin-right: 8px;  text-align: center;color:#ff5049!important; }
.count > a{color:#ff5049!important; font-size: 10px; font-weight: bold;}

.formwidth{
  width: 700px;
}

.table_data{    
  max-width:300px;
  max-height: 20px;
  font-size: .93em;
      overflow-wrap: break-word;
}
ul.gly{
  list-style-type: none;
  li{
    display: inline;
    margin: 0;
  }
}
.destroy{
      color: red;
}
.lastlinks{
  text-align: right;
 }
 text{
  float: right;
font-size: 13px;
margin: 5px 0 5px 0;
 }
 .users_row{
    td{
      max-width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: .93em;
    }
 }

.progress-bar-purple{
  background-color: #6f5499;
}

.progress-bar-purple{
  background-color: #00008B;
}
/*Pagination Styles*/
.pagination > li > a, .pagination > li > span{color:#ff5049!important;}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{background-color:#ff5049; color:#fff!important; border-color: #bbb; }

/*Form Styles*/
form{border-top: dotted 1px #bbb; border-bottom: dotted 1px #bbb;padding: 5%}
.field > label{
    font-weight: 200;
}
.field{

}
.form-control{
    border-radius: 0;
    border: 1px solid #ddd;
background: #fafafa;
font-family: inherit;
font-size: inherit;
margin: 2px 0 20px;
display: block;
    box-shadow:none;
    width:100%;
}
.form-control-inline {
    border-radius: 0;
    border: 1px solid #ddd;
background: #fafafa;
font-family: inherit;
font-size: inherit;
margin: 2px 0 20px;
display: inline;
    box-shadow:none;
}
/*DasboardStyles*/
.timeline > li > .timeline-badge{background-color:#ff5049!important;padding: 12px;}
.timeline > li > .timeline-panel{z-index: 200;}
.activityChart{text-align: center;}

/* table sort order caret */
.table th .current {
  background-color: #eee; font-size: 12px;font-weight: bold!important;
}
.table th a:hover:after{
    content: ' ';
    width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
     position: relative;
top: 9px;
left: 3px;
   }

.table th .asc:after {
  content: ' ';
    width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid #000;
     position: relative;
top: 9px;
left: 8px;
  
}

.table th .desc:after {
 content: ' ';
    width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid #000;
    position: relative;
top: -8px;
left: 8px;
   
}

/*Table Styles*/
.table{font-size: 14px;}
.table thead{background-color: #eee; font-size: 12px;}
.table th a:hover{color:#ff5049;}
.table th a{color:#555;text-decoration: none;}
.midWidth{width:32%}
.tab-content{
    width:100%;
}

/*buttonrow*/
.buttonRow a{display: inline-block; margin-right: 22px;
font-size: 14px;letter-spacing: 1px;}
.buttonRow{padding:0 0 15px 15px;}

/* per page controls */
.form-inline{
    padding: 15px;
    background-color: #fff;
    overflow: hidden;
}
.form-inline input{
    height: 35px;
    background-color: #fafafa;
    border: solid 1px #ddd;
}
.per-page-form{position: relative; border-style:none; height:40px; right:0px; width:270px; top:70px; padding:0px; margin-left:5px;}
.form-group-btn{ background: #ff5049 !important;
    line-height: 36px;
color: #fff !important;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
display: inline-block;
border: 0;
font-weight: normal;
font-size: .9em;
font-family:    'roboto condensed','source sans pro',arial, sans-serif;}
.per-page-submit{width: 60px; height:25px;}

/* search */
.admin-search-form {position: static; border-style:none; height:40px; right:0px; width:350px; top:-40px; padding:0px; margin-left:560px; margin-right:0px;}
.admin-search-submit{width: 60px; height:25px; top:-20px;}
.admin-search-group2 {position:absolute; top:70px; left:560px;}





