/*/* Example tokeninput style #1: Token vertical list*/
/* Example tokeninput style #1: Token vertical list*/
@font-face{
    font-family:FontAwesome;
    font-weight:400;font-style:normal;
}
ul.token-input-list {
    overflow: hidden; 
    width:100%;
    border: 1px solid #ddd;
    cursor: text;
    font-size: 12px;
    font-family: Trebuchet,Tahoma,sans-serif;
    z-index: 999;
    margin: 0;
    padding: 2px;
    background-color: #fafafa;
    list-style-type: none;
    clear: left;
    line-height: 14px;
    border-width: 1px;
    border-color: #5d5d52;
    border-style: solid;
    border-radius: 0;
    color: #1b1b1b;
    display: block;
    min-height: 2.5rem;
    margin-top: 0.5rem;
    max-width: 30rem;
    padding: 0.5rem;
    width: 100%;
}
ul.token-input-list .token-input-input-token::before{
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 13px;
}
ul.token-input-list .token-input-input-token::before .token-input-input-token.yoman::before{
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 13px;
}
 label{
    font-weight: 300;
}
.form-inline select{
    height: 35px;.
    width:100%;
}
.perpage-display{
    width:30%!important;
}
.search-field{
    width:75%!important;
}
 ul.token-input-list li input{
    width:100% !important;
    font-size: 1.06rem;
}
 .token-input-list{
width:auto!important;
    position: relative;
    top:0!important;
    left:0!important;
}
 ul.token-input-list{
    line-height: 35px!important;
    min-height:35px; 
}
 div.field ul.token-input-focused{
    width:100%;
}
div.field ul.token-input-focused .token-input-input-token::before{
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 1.06rem;
}
form ul.token-input-list .token-input-input-token::before {
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 1.06rem;
}
form .agencies ul.token-input-list .token-input-input-token::before {

}

form .contacts ul.token-input-list .token-input-input-token::before {

}
form ul.token-input-focused .token-input-input-token::before{
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 13px;
}

ul.token-input-list li {
    list-style-type: none;
}
ul.token-input-list li p{ 
    font-size: 1.06rem;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: #fafafa;
    -webkit-appearance: caret;
}

ul.token-input-disabled,
ul.token-input-disabled li input {
  background-color: #E8E8E8;
}

ul.token-input-disabled li.token-input-token {
  background-color: #ddd;
  color: #7D7D7D
}

ul.token-input-disabled li.token-input-token span {
  color: #CFCFCF;
  cursor: default;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    width: 100%;
    padding: 5px;
    background-color: #ddd;
    color: #555;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    color: black;
    margin: 0 15px 0 0;
}

li.token-input-token span {
    float: right;
    color: black;
    cursor: pointer;
    font-size: 1.06rem;
    margin-top: .5rem;
    line-height: 10px;
}

li.token-input-selected-token {
    background-color: #555;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 14px;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #ddd;
}*/