/* Example tokeninput style #1: Token vertical list*/
@font-face{
    font-family:FontAwesome;
    font-weight:400;font-style:normal;
}
ul.token-input-list {
    overflow: hidden; 
    min-height:42px;
    width:100%;
    border: 1px solid #ddd;
    cursor: text;
    font-size: 12px;
    font-family: Trebuchet,Tahoma,sans-serif;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    list-style-type: none;
    clear: left;line-height: 52px;
}
ul.token-input-list .token-input-input-token::before{
    font-family: 'FontAwesome';
    content:"\f002   Type Your Search Terms";
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 13px;
}
ul.token-input-list .token-input-input-token::before .token-input-input-token.yoman::before{
    font-family: 'FontAwesome';
    content:"\f002   Add Tags here";
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 13px;
}
.form-group label{
    font-weight: 300;
}
.form-inline select{
    height: 35px;
    border: solid 1px #ddd;
}
.form-group ul.token-input-list li input{
    width:280px!important;
}
.form-group .token-input-list{
width:auto!important;
    position: relative;
    top:0!important;
    left:0!important;
}
.form-group ul.token-input-list{
    line-height: 35px!important;
    min-height:35px; 
}
.form-group div.field ul.token-input-focused{
    width:300px!important;
}
div.field ul.token-input-focused .token-input-input-token::before{
    font-family: 'FontAwesome';
    content: "";
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 13px;
}
form ul.token-input-list .token-input-input-token::before {
    font-family: 'FontAwesome';
    content:"\f002   Search By Tag";
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 13px;
}
form ul.token-input-focused .token-input-input-token::before{
    font-family: 'FontAwesome';
    content: "";
    padding:0 5px 0 15px;  
    color: #ccc;
    font-size: 13px;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: #fafafa;
    -webkit-appearance: caret;
}

ul.token-input-disabled,
ul.token-input-disabled li input {
  background-color: #E8E8E8;
}

ul.token-input-disabled li.token-input-token {
  background-color: #ddd;
  color: #7D7D7D
}

ul.token-input-disabled li.token-input-token span {
  color: #CFCFCF;
  cursor: default;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #ddd;
    color: #555;
    font-weight: bold;
    cursor: default;
    display: inline-block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0 15px 0 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #555;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 14px;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #ddd;
}