/* BOOTSTRAP OVERWRITES */
label, input, select, textarea {
	font-family: Verdana, sans-serif;
	color: #000;	
}
.actions {
	background-color: #FFF;	
}
/*.btn,
.btn.primary {
	border: none;
	color: #000;
	text-shadow: none;
	background-color: #ccc;
	background-image: none;
	border-color: transparent;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}*/
.help-block {
	color: #595959;	
}
/* CHOSEN OVERWRITES */
ul.as-selections li.as-original input {
	min-width: 200px !important;	
}

.chzn-container-multi .chzn-choices .search-field .default {
	color: #000;	
}
ul.chzn-choices li.search-field {
	width: 100% !important;	
}
ul.chzn-choices li.search-field input.default {
	width: 97% !important;	
}
ul.as-selections li {
	margin-right: 0px !important;	
}
ul.as-selections li.as-original {
	margin-left: 5px;	
}

#languageSearchResults {
	position: relative;
	width: 460px;	
}
#languageSearchResults ul {
	list-style-type: none;	
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFF;
	border: 1px solid #AAA;
	
	-webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, .15);
	box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, .15);
}
#languageSearchResults li a {
	padding: 4px 5px;	
	text-decoration: none;
	display: block;
}
#languageSearchResults li a.hover {
	background-color: #2C5D80;
	color: #FFF;	
}