/*
 * This manifest file includes the CSS files required by the proxied HowTo.gov
 *= require_self
 *= require autosuggest
 *= require chosen
 *= require forms
*/
html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	font-family: Verdana,sans-serif;
	font-size: 0.75em;
	line-height: 1.5em;
	color: #232D32;
}

a {
	color: #285575;
	text-decoration: underline;
}

h2 {
	font-size: 150%;
}
#container {
	margin: 0px auto;
	width: 960px;
	background: white;
	border: 1px solid #DADADA;
	border-top: 0px;
}
		
header {
	height: 146px;
	position: relative;
}
		
footer {
	font-family: Arial, Verdana, sans-serif;
	background: #1D5D8A;
	color: white;
	text-align: center;
	margin: 0 0 0 0;
	padding: 20px 0 0 0;
	height: 100%;
	clear: both;
}

footer a {
	color: white;
}

footer p {
	margin: 0 0 0 0;
	font-size: 90%;
}
footer a.footerUSAGOV {
	position: relative;
	width: 98px;
	height: 32px;
	left: 400px;
	top: -30px;
}
		
footer ul {
	list-style: none;
	margin: 0 0 0 0;
}
		
footer ul li {
	display: inline;
	padding: 0 4px 0 4px;
}
		
a#skip-to-content-link-home {
	position: absolute;
	z-index: 5000;
	background: white;
	font-size: 1.11em;
	display: block;
	padding: 6px 10px;
	top: -4000px;
	left: 50%;
	width: 180px;
	margin-left: -457px;
}

.alert-error {
	color: #884400;
	background-color: #ffffee;
	border: 1px solid #884400;
	font-size: 120%;
	padding: .1em .8em .1em .8em;
	margin: 1em 0 1em 0;
}
	
#site-name a {
	display: block;
	width: 604px;
	height: 74px;
	text-indent: -9999px;
	overflow: hidden;
}
		
#header-nav {
	font-size: 1.2em;
	float: right;
}
		
#header-nav a {
	color: #FFF;
	text-decoration: none;
}

#header-nav ul {
	list-style: none;
}

#header-nav ul li {
	display: inline;
	padding: 0 4px 0 4px;
	border-right: 1px solid #68A7D3;
}

#header-nav ul li.last {
	display: inline;
	padding: 0 4px 0 4px;
	border-right: none;
}

#header-nav li.facebook a {
	text-indent: -8765px;
	height: 17px;
	width: 17px;
	display: block;
	float: left;
	overflow: hidden;
	padding: 0 4px 0 4px;
}

#header-nav li.twitter a {
	text-indent: -8765px;
	display: block;
	height: 17px;
	width: 17px;
	float: left;
	overflow: hidden;
	padding: 0 4px 0 4px;
}
		
#form {
	background-color: #FFF;
	width: 900px;
	margin: 20px auto 0 auto;
}


.quiet {
	margin: 6px 0 0 0 ;
	font-size: 90%;
	color: #595959;
}
	
.actions {
	border:none}

.btn.primary, input.btn, .btn {
  font-family: 'Lucida Grande';
  background-color: #EEE;
  border: 1px solid #999;
  font-size: 110%;
  height: 1.3;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  text-align: center;
  cursor:pointer;
	
}

a.btn {
	text-decoration: none;
}	
input#tags:focus{outline:0;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
