<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="<%= "active" if request.path == "/admin" %>"><a href="/admin/">Overview </a></li>
    <li class="<%= "active" if request.path == "/admin/dashboards/social_media_breakdown" %>"><a href="/admin/dashboards/social_media_breakdown">Social Media Breakdown</a></li>
    <li class="<%= "active" if request.path == "/admin/dashboards/activities" %>"><%= link_to "Activities", activities_admin_dashboards_path %></li>
</div>