<section class="usa-section" id="resources_featured">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row">

      <div class="grid-col-12">
		  	<h1 class = "page-header">User Profile: <%= @user.email %></h1>

		    <%= content_for :page_title do %>User Profile<% end %>
		  	<%= render 'form' %>

		  </div>
		</div>
	</div>
</section>