
<div class="row">
  <div class="span8">
    <p class="alert alert-info">
      Thank you for submitting <%= @service_url %> to the USA.gov Social Media Registry. <strong>Please check your email.</strong>
    </p>
    <p>To confirm your submission to the registry, you will need to click a link that has been sent to <%= @auth_token.email %> to confirm your submission.</p>
    <p>If you do not receive an email with the link within an hour, please check your spam filters.</p>
    <p>If you have any questions, please email socialmediaregistry@gsa.gov.</p>
  </div>
</div>