<div class="row">
  <div class="cols-sm-12">
    <h1 class="page-header">About</h1>
    <h3>Purpose</h3>
      <p>Should discuss purpose of the app, perhaps include links to the github / github issues<p>
    <h3>Who is Responsible</h3>
      <div>List of Admins 
        <span class="buttonRow">
          <% unless current_user.banned? %>
            <%= link_to "Email Admins", new_admin_email_message_path(include_admins: true), {:class => "fa fa-pencil"} %>
          <% end %>
        </span>
      </div>
      <ul class="list-unstyled">
        <% @admins.each do |admin| %>
          <li><%= "#{admin.first_name} #{admin.last_name} - #{admin.email}" %></li>
        <% end %>
      <ul/>
    <h3>When will you be contacted</h3>
      <p>Contacts &amp; Agency Contacts will be notified when a social media account or mobile app has been in the system
      for 6 months without changes to ensure data stays fresh</p>
      <p>You should list yourself as an agency contact if you would like to be notified of changes / need for review related to all items where the agency is listed as related</p>
      <p>You should add yourself as the contact on an item if you'd like to be 
      <p>If data looks like it may no longer to be correct, an admin will mark an item as "under review".  This does not mean its status as public/archvied has been changed, just that we'd like you to take a look at it.  If its been under review for more than 2 weeks, it may be archived.</p>
    <h3>Explain Statuses</h3>
      <p>Submitted, Public, Archived</p>
      <p>Items can also be deleted by the system, typically if they have been archived for an extended period of time (1 year+) or adhoc by an administrator if deemed necessary</p>
    <h3>Tags</h3>
      <p>Tagging is limited to a set of specific elements for purposes of preventing unnecessary, inappropriate, or duplicative tags.</p>
      <p>If you'd like a tag added, and feel we have missed something, feel free to email the admins with your request and/or explanation if appropriate</p>
    <h3>Social Media Accounts</h3>
      <p>Explain metadata here</p>
    <h3>Mobile Applications</h3>
      <p>TAlk about galleries</p>
      <p>Explain metadata here</p>

    <p>include a write up with some information about the app, when users are modified, what statuses mean.</p>
  </div>
</div>