<div class="row">
  <div class="col-sm-12 col-md-4 main">
    <div class="list-group">
      <a href="#log-in" class="list-group-item">Logging In</a>
      <a href="#add-account" class="list-group-item">Add Social Media</a>
      <a href="#find-social" class="list-group-item">Find Social Media Accounts</a>
      <a href="#export-social" class="list-group-item">Export Social Media Accounts</a>
      <a href="#add-mobile" class="list-group-item">Add Mobile Products</a>
      <a href="#add-details" class="list-group-item">Add Mobile Platform Details</a>
      <a href="#find-mobile" class="list-group-item">Find Mobile Products</a>
      <a href="export-mobile" class="list-group-item">Export Mobile Products</a>
      <a href="#additional-contacts" class="list-group-item">Additional Contacts</a>
    </div>     
  </div>
  <div class="col-sm-12 col-md-8 main wrapper">
    <%= content_for :page_title do %>FAQ U.S. Digital Registry<% end %>
    <h1 class="page-header">FAQ U.S. Digital Registry</h1>
    <div id="log-in" class="section-of-faq">
      <h2>How to Log Onto the U.S. Digital Registry</h2>
      <ol>
        <li>All users must have an individual OMB MAX account or ID to log onto the U.S. Digital Registry. Accounts are available to federal government employees and contractors with a valid .gov, .mil, or .fed.us email address.</li>
        <li><a href="https://login.max.gov" target="_blank">Register for an OMB Max ID</a> if you need one or have the appropriate program manager within your agency to log you on.</li>
        <li>Once you have a Max account, go to the main <a href="https://usdigitalregistry.digitalgov.gov" target="_blank">U.S. Digital Registry page</a> and click the Orange “Register and Manage” accounts button at the top of the page. </li>
        <li>Log into Max OMB with your user name and password or your PIV and CAC</li>
        <li>You will be taken directly to the home page of the Registry where you can complete tasks.</li>
      </li>
    </div>
    <div id="add-account" class="section-of-faq">
      <h2>Add a Social Media Account</h2>
      <ol>
        <li>Click on the Add a Social Media Account button.</li>
        <li>The New Social Media Account Page displays</li>
        <li>Click on the drop down list under “Account Type” - a list with social media account types displays</li>
        <li>Select an account type</li>
        <li>Enter account URL in Account URL text box (social media account-specific URL formatting help displays)</li>
        <li>Enter your social media account name in “Account Name” text box</li>
        <li>Enter a short description (think tagline here) in “Short Description” text box</li>
        <li>Enter long description in “Long Description” text box</li>
        <li>Click on the drop down under “Language”</li>
        <li>Choose a Language</li>
        <li>Verify Sponsoring Agency (your agency should display by default), You can add multiple agencies for cross agency accounts</li>
        <li>Click in/on text box under “Tags.” Enter tags, separated by commas. Note: begin typing the first few letters and suggested words will appear. Once your selection appears in grey, hit return, and begin typing the next tag. </li>
        <li>Verify Contact Name (your email address will display by default)</li>
        <li>Add a second Contact Name - Click in/on text box under “Contact Name” and enter a second email address. (Currently the system only requires one, two contacts is a best practice.)
Note: Users will need to login to the registry via the U.S. Digital Registry link (https://usdigitalregistry.digitalgov.gov/), because not only does that provide the authentication via OMBMax, it places their account within the group of Registry users.  Once a user has logged in via the U.S. Digital Registry link, their name will appear within the contact list.  </li>
        <li>Click on “Create Social Media Account” button - Social Media Account Info page displays, showing that your information has been published.</li>
      </li>
    </div>
    
    <div id="find-social" class="section-of-faq">
      <h2>How to find your Social Media Accounts</h2>
      <ol>
        <li>To filter by Account type click on one for the links (Facebook, Instagram, etc) on the left hand side of the Social Media Listing page.</li>
        <li>To find all accounts for a particular agency, type the agency name in quotes into the Search box.</li>
        <li>To find all accounts associated with a particular contact, type the contact email address into the Search box.</li>
        <li>The Search box will also search on the Account Name and User Name.</li>
      </li>
    </div>
    <div id="export-social" class="section-of-faq">
      <h2>Exporting a list of Social Media accounts to a .CSV file</h2>
      <ol>
        <li>Once all accounts are loaded, click on the “Export Results to CSV file”.</li>
        <li>This export can be filtered by any search query. For example, you can search for your agency, and once loaded, click on the “Export Results to CSV file” and the export will only contain the accounts for your agency.</li>
      </li>
    </div>
    <div id="add-mobile" class="section-of-faq">
      <h2>Add a Mobile Product (Mobile Website or Native App)</h2>
      <ol>
        <li>Click on the Add a Product Account button</li>
        <li>The New Mobile Product Account Page displays</li>
        <li>Add your app’s Name of App/Website*</li>
        <li>Select an account type</li>
        <li>Enter your Short Description* - your tagline for your app or site</li>
        <li>Enter your Long Description* - this can be what is posted on the App Store or Google Play for apps;</li>
        <li>Copy and paste the Icon URL - for apps you can point to the icon used by Google Play or the App Store (NPS National Mall App icon link from Google Play: https://lh3.ggpht.com/zG82rhTmkmdQsu44oJNf1bl0YqxuM4aU84Vsps9SaLomQuWHq0MpSfqeN06SsnNpIg=w300-rw)</li>
        <li>Select the Language* of the app or site</li>
        <li>Verify Sponsoring Agencies* - your agency is listed by default, You can add multiple agencies for cross agency accounts</li>
        <li>Click in/on text box under “Tags.” Enter tags, separated by commas.</li>
        <li>Verify Contact Name* (your email address will display by default)</li>
        <li>Add a second Contact Name* - Click in/on text box under “Contact Name” and enter a second email address. Note: Users will need to login to the registry at least once for their email address to be available as a contact.</li>
        <li>Click on “Create Moblie Product” button - Mobile Product Info page displays, showing that your information has been published.</li>
      </li>
    </div>
    <div id="add-details" class="section-of-faq">
      <h2>Adding Mobile Platform Details</h2>
      <p>You will want to add a ‘Platform Details’ entry for each version of a product that you have. Multiple platform versions will most likely be Android and iOS versions of the same app.  Do not add a separate ‘Platform Details’ entry for an app that is compatible on both smartphone and tablet (if it’s only one entry in the respective app store, it’s only one entry here.)</p>
      <ol>
        <li>Choose Web,  App - Phone/Tablet or App - Tablet Only in the Product Type* drop down. </li>
        <li>Paste the URL of the site or app store URL in the Store URL/Location*.  For Android and iOS apps, click on the “Get Platform Details from URL” button and the fields below will auto-fill.
For websites and Blackberry and Windows apps continue to complete the fields below, using the information that is contained in the particular app store.</li>
        <li>Select the “Platform*”</li>
        <li>Enter “Version number”</li>
        <li>Choose “Publish Date”</li>
        <li>Paste the URLs of the app’s screenshots in “Screenshots”</li>
        <li>Enter “Average Rating”</li>
        <li>Enter “Number of Ratings”</li>
        <li>If there is only one platform version, click the red “Create Mobile Product” button. If you have an additional platform version of your app, click the “+Add Platform Details” link and repeat Platform Details steps 1-8 for each additional platform version you have.</li>
      </li>
    </div>
    <div id="find-mobile" class="section-of-faq">
      <h2>How to find your Mobile Product Accounts</h2>
      <ol>
        <li>To filter by Platform type click on one of the links (iOS, Android, etc) on the left hand side of the Mobile App Listings page.</li>
        <li>To find all accounts for a particular agency, type the agency name in quotes into the Search box.</li>
        <li>To find all accounts associated with a particular contact, type the contact email address into the Search box.</li>
        <li>The Search box will also search on the [app] Name and Status (to view only Archived or Published Accounts)</li>
      </li>
    </div>
    <div id="export-mobile" class="section-of-faq">
      <h2>Exporting a list of Mobile Product accounts to a .CSV file</h2>
      <ol>
        <li>Once all accounts are loaded, click on the “Export Results to CSV file”  </li>
        <li>This export can be filtered by any search query. For example, you can search for your agency, and once loaded, click on the “Export Results to CSV file” and the export will only contain the accounts for your agency. </li>
      </li>
    </div>
    <div id="additional-contacts" class="section-of-faq">
      <h2>Adding Additional “Contacts” To Your Agency Accounts</h2>
      <p>You can add multiple “contacts” from your agency to any account and contacts can make changes to your account. If you would like to add an agency representative to your account, you need to complete these steps. </p>
      <ol>
        <li>The registry only recognizes users who have signed into the registry, so anyone you want to add as a “contact” to an account, needs to log into the registry to be recognized.</li>
        <li>Have any users you want to add to an account? Follow the “How To Log Into the Registry” instructions above.</li>
        <li>Once the person successfully logs into the registry, the registry will recognize them and you can add them to your account(s).</li>
        <li>Note that only you or any other existing contact on an account can assign a new contact--new contacts will not be able to add themselves to existing accounts.</li>
      </li>
    </div>
  </div>
</div>