<div id="footer-widgets" class="maincontent">
    <div class="limit clearfix">
      <div class="footer-widget1">
        <div id="socialicons-widget-3" class="widget widget-1 widget-first socialicons">
          <div class="widget-wrap">
            <h3 class="widgettitle"><span>Connect</span></h3>

            <div class="textwidget">
              <div class="sub-icons">
                <ul class="clearfix">
                  <li><a class="subicon rss" title="Subscribe via RSS Feed" href=
                  "http://www.digitalgov.gov/feed/">RSS Feed</a></li>

                  <li><a class="subicon facebook" title="Connect on Facebook" rel=
                  "external" href="http://www.facebook.com/digitalgov" target=
                  "_blank">Facebook</a></li>

                  <li><a class="subicon twitter" rel="external" title=
                  "Follow Us on Twitter" href="http://www.twitter.com/digital_gov"
                  target="_blank">Twitter</a></li>

                  <li><a class="subicon gplus" title="Connect on Google Plus" rel=
                  "external" href=
                  "https://plus.google.com/109077476228639396954?rel=author" target=
                  "_blank">Google</a></li>

                  <li><a class="subicon youtube" title="Connect on YouTube" rel=
                  "external" href="http://www.youtube.com/user/howtogov" target=
                  "_blank">Youtube</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="text-2" class="widget widget-2 widget-last widget_text">
          <div class="widget-wrap">
            <div class="textwidget">
              <a href="http://www.gsa.gov" onclick=
              "javascript:_gaq.push(['_trackEvent','outbound-widget','http://www.gsa.gov']);">
              <img src="http://www.digitalgov.gov/files/2013/11/logo_footer_gsa.png" alt=
              "GSA Service Mark" scale="0" /></a><br />
              U.S. General Services Administration<br />
              an official site of the U.S. Government<br />
              | <a href="http://www.digitalgov.gov/about">About</a> | <a href=
              "http://www.digitalgov.gov/about/policies/">Site Policies</a> | <a href=
              "http://www.digitalgov.gov/contact-us/">Contact Us</a> |
            </div>
          </div>
        </div>
      </div>

      <div class="footer-widget2">
        <div id="twitter_timeline-3" class="widget widget-1 widget-first widget_twitter_timeline"><div class="widget-wrap"><h3 class="widgettitle"><!-- <span>Follow us on Twitter</span> --></h3><!-- <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; height: 426px; padding: 0px; border: none; max-width: 250px; min-width: 180px; margin-top: 0px; margin-bottom: 0px;" data-widget-id="552180017569202177" data-user-id="137454693" title="Twitter Timeline"></iframe> --></div></div>     </div>

      <div class="footer-widget3">
        <div id="recent-posts-2" class="widget widget-1 widget-first widget_recent_entries">
          <div class="widget-wrap">   
            <h3 class="widgettitle"><span>Recent Posts</span></h3>    
            <ul>
              <li>
                  <a href="http://www.digitalgov.gov/2016/01/08/what-are-your-customers-searching-for/">What Are Your Customers Searching For?</a>
              </li>
              <li>
                <a href="http://www.digitalgov.gov/2016/01/08/somossocial-bilingual-twitter-chats-how-to-do-them-effectively/">#SomosSocial: Bilingual Twitter Chats—How to Do Them Effectively</a>
              </li>
              <li>
                <a href="http://www.digitalgov.gov/2016/01/07/tips-for-adapting-analytics-usa-gov-from-tennessee-boulder-and-philadelphia/">Tips for Adapting analytics.usa.gov from Tennessee, Boulder and Philadelphia</a>
              </li>
              <li>
                <a href="http://www.digitalgov.gov/2016/01/07/content-models-as-simple-as-pizza-pie/">Content Models: As Simple as Pizza Pie!</a>
              </li>
              <li>
                <a href="http://www.digitalgov.gov/2016/01/06/the-data-briefing-using-federal-open-data-to-understand-how-government-performs/">The Data Briefing: Using Federal Open Data to Understand How Government Performs</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-widget4">
        <div id="tribe-events-list-widget-7" class=
        "widget widget-1 widget-first tribe-events-list-widget">
          <div class="widget-wrap"><h3 class="widgettitle"><span>Upcoming Events</span></h3>
  <ol class="hfeed vcalendar">
          <li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-307152 tribe-clearfix tribe-events-category-challenges-prizes tribe-events-category-webinar-2 tribe-events-venue-2572 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                <!-- Event Title -->
        <h4 class="entry-title summary">
          <a href="http://www.digitalgov.gov/event/module-7-post-prize-industry-and-the-post-prize-impact/" rel="bookmark">Module 7: Post-Prize Industry and the Post-Prize Impact</a>
        </h4>

                <!-- Event Time -->

        
        <div class="duration">
          <span class="date-start dtstart">January 14 @ 2:00 PM<span class="value-title" title="2016-01-14EST02:00"></span></span> - <span class="end-time dtend">3:00 PM<span class="value-title" title="2016-01-14EST03:00"></span></span>        </div>

        

      </li>
          <li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-341991 tribe-clearfix tribe-events-category-in-person tribe-events-category-livestream tribe-events-category-social-media-2 tribe-events-venue-297812 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                <!-- Event Title -->
        <h4 class="entry-title summary">
          <a href="http://www.digitalgov.gov/event/u-s-digital-registry-verification-sprint/" rel="bookmark">All-Agency U.S. Digital Registry Verification Sprint</a>
        </h4>

                <!-- Event Time -->

        
        <div class="duration">
          <span class="date-start dtstart">January 21 @ 9:00 AM<span class="value-title" title="2016-01-21EST09:00"></span></span> - <span class="end-time dtend">12:00 PM<span class="value-title" title="2016-01-21EST12:00"></span></span>       </div>

        

      </li>
          <li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-337941 tribe-clearfix tribe-events-category-metrics tribe-events-category-ux tribe-events-category-webinar-2 tribe-events-venue-2572 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                <!-- Event Title -->
        <h4 class="entry-title summary">
          <a href="http://www.digitalgov.gov/event/dap-learning-series-measuring-user-behavior/" rel="bookmark">DAP Learning Series: Measuring User Behavior</a>
        </h4>

                <!-- Event Time -->

        
        <div class="duration">
          <span class="date-start dtstart">January 21 @ 2:00 PM<span class="value-title" title="2016-01-21EST02:00"></span></span> - <span class="end-time dtend">3:00 PM<span class="value-title" title="2016-01-21EST03:00"></span></span>        </div>

        

      </li>
          <li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-340991 tribe-clearfix tribe-events-category-managing-digital tribe-events-category-webinar-2 tribe-events-venue-2572 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                <!-- Event Title -->
        <h4 class="entry-title summary">
          <a href="http://www.digitalgov.gov/event/digitalgov-search-basics-3/" rel="bookmark">DigitalGov Search Basics</a>
        </h4>

                <!-- Event Time -->

        
        <div class="duration">
          <span class="date-start dtstart">January 27 @ 2:00 PM<span class="value-title" title="2016-01-27EST02:00"></span></span> - <span class="end-time dtend">3:00 PM<span class="value-title" title="2016-01-27EST03:00"></span></span>        </div>

        

      </li>
          <li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-340361 tribe-clearfix tribe-events-category-in-person tribe-events-category-livestream tribe-events-venue-297812 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                <!-- Event Title -->
        <h4 class="entry-title summary">
          <a href="http://www.digitalgov.gov/event/cloud-native-devops-with-cloud-gov/" rel="bookmark">Cloud native DevOps with cloud.gov</a>
        </h4>

                <!-- Event Time -->

        
        <div class="duration">
          <span class="date-start dtstart">January 29 @ 9:00 AM<span class="value-title" title="2016-01-29EST09:00"></span></span> - <span class="end-time dtend">12:00 PM<span class="value-title" title="2016-01-29EST12:00"></span></span>       </div>

        

      </li>
      </ol><!-- .hfeed -->

  <p class="tribe-events-widget-link">
    <a href="http://www.digitalgov.gov/events/" rel="bookmark">View All Events</a>
  </p>

  </div>0
        </div>
      </div>
    </div>
  </div>