<div id="fixednav" style="display: none;">
      <div class="limit clearfix">
        <!-- FIXED NAVIGATION MENU -->
        <ul class="fixednav">
          <li id="menu-item-392" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-392"><a href="https://www.digitalgov.gov/category/challenges/">Challenges</a>
<ul class="sub-menu">
  <li id="menu-item-345351" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-345351"><a href="https://www.digitalgov.gov/category/challenges/crowdsourcing-citizen-science/">Crowdsourcing &amp; Citizen Science</a></li>
</ul>
</li>
<li id="menu-item-402" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-402"><a href="https://www.digitalgov.gov/category/code/">Code</a>
<ul class="sub-menu">
  <li id="menu-item-120322" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120322"><a href="https://www.digitalgov.gov/category/code/api/">API</a></li>
  <li id="menu-item-120332" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120332"><a href="https://www.digitalgov.gov/category/code/data1/">Data</a></li>
</ul>
</li>
<li id="menu-item-412" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-412"><a href="https://www.digitalgov.gov/category/content/">Content</a>
<ul class="sub-menu">
  <li id="menu-item-120342" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120342"><a href="https://www.digitalgov.gov/category/content/video/">Video</a></li>
  <li id="menu-item-120352" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120352"><a href="https://www.digitalgov.gov/category/content/writing/">Writing</a></li>
</ul>
</li>
<li id="menu-item-422" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-422"><a href="https://www.digitalgov.gov/category/managing-digital/">Managing Digital</a>
<ul class="sub-menu">
  <li id="menu-item-120362" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120362"><a href="https://www.digitalgov.gov/category/managing-digital/governance/">Governance</a></li>
  <li id="menu-item-120372" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120372"><a href="https://www.digitalgov.gov/category/managing-digital/strategy-policy/">Strategy &amp; Policy</a></li>
</ul>
</li>
<li id="menu-item-432" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-432"><a href="https://www.digitalgov.gov/category/metrics/">Metrics</a></li>
<li id="menu-item-442" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-442"><a href="https://www.digitalgov.gov/category/mobile/">Mobile</a></li>
<li id="menu-item-452" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-452"><a href="https://www.digitalgov.gov/category/socialmedia/">Social Media</a></li>
<li id="menu-item-462" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-462"><a href="https://www.digitalgov.gov/category/ux/">UX</a>
<ul class="sub-menu">
  <li id="menu-item-120382" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120382"><a href="https://www.digitalgov.gov/category/ux/accessibility/">Accessibility</a></li>
  <li id="menu-item-120392" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120392"><a href="https://www.digitalgov.gov/category/ux/design/">Design</a></li>
  <li id="menu-item-120402" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120402"><a href="https://www.digitalgov.gov/category/ux/user-testing-research/">User Testing &amp; Research</a></li>
</ul>
</li>
        </ul><select class="select-menu-fixednav"><option value="#">Navigate to ...</option><option value="https://www.digitalgov.gov/category/challenges/">&nbsp;Challenges</option><option value="https://www.digitalgov.gov/category/challenges/crowdsourcing-citizen-science/">–&nbsp;&nbsp;Crowdsourcing &amp; Citizen Science</option><option value="https://www.digitalgov.gov/category/code/">&nbsp;Code</option><option value="https://www.digitalgov.gov/category/code/api/">–&nbsp;&nbsp;API</option><option value="https://www.digitalgov.gov/category/code/data1/">–&nbsp;&nbsp;Data</option><option value="https://www.digitalgov.gov/category/content/">&nbsp;Content</option><option value="https://www.digitalgov.gov/category/content/video/">–&nbsp;&nbsp;Video</option><option value="https://www.digitalgov.gov/category/content/writing/">–&nbsp;&nbsp;Writing</option><option value="https://www.digitalgov.gov/category/managing-digital/">&nbsp;Managing Digital</option><option value="https://www.digitalgov.gov/category/managing-digital/governance/">–&nbsp;&nbsp;Governance</option><option value="https://www.digitalgov.gov/category/managing-digital/strategy-policy/">–&nbsp;&nbsp;Strategy &amp; Policy</option><option value="https://www.digitalgov.gov/category/metrics/">&nbsp;Metrics</option><option value="https://www.digitalgov.gov/category/mobile/">&nbsp;Mobile</option><option value="https://www.digitalgov.gov/category/socialmedia/">&nbsp;Social Media</option><option value="https://www.digitalgov.gov/category/ux/">&nbsp;UX</option><option value="https://www.digitalgov.gov/category/ux/accessibility/">–&nbsp;&nbsp;Accessibility</option><option value="https://www.digitalgov.gov/category/ux/design/">–&nbsp;&nbsp;Design</option><option value="https://www.digitalgov.gov/category/ux/user-testing-research/">–&nbsp;&nbsp;User Testing &amp; Research</option></select>
        <!-- SOCIAL MEDIA ICONS -->
        <div class="sub-icons">

  <ul class="clearfix">

    <li><a class="subicon rss" title="Subscribe via RSS Feed" href="https://www.digitalgov.gov/feed/">RSS Feed</a></li>

    <li><a class="subicon facebook" title="Connect on Facebook" rel="external" href="http://www.facebook.com/digitalgov" target="_blank">Facebook</a></li>

    <li><a class="subicon twitter" rel="external" title="Follow Us on Twitter" href="http://www.twitter.com/digital_gov" target="_blank">Twitter</a></li>



    <li><a class="subicon gplus" title="Connect on Google Plus" rel="external" href="https://plus.google.com/109077476228639396954?rel=author" target="_blank">Google</a></li>






    <li><a class="subicon youtube" title="Connect on YouTube" rel="external" href="http://www.youtube.com/user/howtogov" target="_blank">Youtube</a></li>

  </ul>

</div>      </div>
    </div>