<div id="header" class="clearfix">
    <div id="head-content" class="clearfix">
      <!-- SITE-TITLE/LOGO -->

      <div id="sitetitle">
        <a href="http://www.digitalgov.gov" title="DigitalGov"><img src=
        "http://www.digitalgov.gov/files/2014/01/logo2.png" alt="DigitalGov" scale=
        "0" /></a>
      </div><!-- SECONDARY NAVIGATION -->

      <div id="catnav">
        <ul class="catnav clearfix">
          <li class=
          "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-392">
          <a href="http://www.digitalgov.gov/category/challenges/">Challenges</a></li>

          <li class=
          "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-402">
          <a href="http://www.digitalgov.gov/category/code/" class="sf-with-ul">Code</a>

            <ul class="sub-menu" style="display: none;">
              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120322">
              <a href="http://www.digitalgov.gov/category/code/api/">API</a></li>

              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120332">
              <a href="http://www.digitalgov.gov/category/code/data1/">Data</a></li>
            </ul>
          </li>

          <li class=
          "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-412">
          <a href="http://www.digitalgov.gov/category/content/" class=
          "sf-with-ul">Content</a>

            <ul class="sub-menu" style="display: none;">
              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120342">
              <a href="http://www.digitalgov.gov/category/content/video/">Video</a></li>

              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120352">
              <a href=
              "http://www.digitalgov.gov/category/content/writing/">Writing</a></li>
            </ul>
          </li>

          <li class=
          "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-422">
          <a href="http://www.digitalgov.gov/category/managing-digital/" class=
          "sf-with-ul">Managing Digital</a>

            <ul class="sub-menu" style="display: none;">
              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120362">
              <a href=
              "http://www.digitalgov.gov/category/managing-digital/governance/">Governance</a></li>

              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120372">
              <a href=
              "http://www.digitalgov.gov/category/managing-digital/strategy-policy/">Strategy
              &amp; Policy</a></li>
            </ul>
          </li>

          <li class=
          "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-432">
          <a href="http://www.digitalgov.gov/category/metrics/">Metrics</a></li>

          <li class=
          "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-442">
          <a href="http://www.digitalgov.gov/category/mobile/">Mobile</a></li>

          <li class=
          "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-452">
          <a href="http://www.digitalgov.gov/category/socialmedia/">Social Media</a></li>

          <li class=
          "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-462">
          <a href="http://www.digitalgov.gov/category/ux/" class="sf-with-ul">UX</a>

            <ul class="sub-menu" style="display: none;">
              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120382">
              <a href=
              "http://www.digitalgov.gov/category/ux/accessibility/">Accessibility</a></li>

              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120392">
              <a href="http://www.digitalgov.gov/category/ux/design/">Design</a></li>

              <li class=
              "menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120402">
              <a href="http://www.digitalgov.gov/category/ux/user-testing-research/">User
              Testing &amp; Research</a></li>
            </ul>
          </li>
        </ul><label for="select-menu-catnav" style="display:none;">Mobile Navigation
        Menu</label><select class="select-menu-catnav" id="select-menu-catnav">
          <option value="#">
            Navigate to ...
          </option>

          <option value="http://www.digitalgov.gov/category/challenges/">
            &nbsp;Challenges
          </option>

          <option value="http://www.digitalgov.gov/category/code/">
            &nbsp;Code
          </option>

          <option value="http://www.digitalgov.gov/category/code/api/">
            &ndash;&nbsp;&nbsp;API
          </option>

          <option value="http://www.digitalgov.gov/category/code/data1/">
            &ndash;&nbsp;&nbsp;Data
          </option>

          <option value="http://www.digitalgov.gov/category/content/">
            &nbsp;Content
          </option>

          <option value="http://www.digitalgov.gov/category/content/video/">
            &ndash;&nbsp;&nbsp;Video
          </option>

          <option value="http://www.digitalgov.gov/category/content/writing/">
            &ndash;&nbsp;&nbsp;Writing
          </option>

          <option value="http://www.digitalgov.gov/category/managing-digital/">
            &nbsp;Managing Digital
          </option>

          <option value=
          "http://www.digitalgov.gov/category/managing-digital/governance/">
            &ndash;&nbsp;&nbsp;Governance
          </option>

          <option value=
          "http://www.digitalgov.gov/category/managing-digital/strategy-policy/">
            &ndash;&nbsp;&nbsp;Strategy &amp; Policy
          </option>

          <option value="http://www.digitalgov.gov/category/metrics/">
            &nbsp;Metrics
          </option>

          <option value="http://www.digitalgov.gov/category/mobile/">
            &nbsp;Mobile
          </option>

          <option value="http://www.digitalgov.gov/category/socialmedia/">
            &nbsp;Social Media
          </option>

          <option value="http://www.digitalgov.gov/category/ux/">
            &nbsp;UX
          </option>

          <option value="http://www.digitalgov.gov/category/ux/accessibility/">
            &ndash;&nbsp;&nbsp;Accessibility
          </option>

          <option value="http://www.digitalgov.gov/category/ux/design/">
            &ndash;&nbsp;&nbsp;Design
          </option>

          <option value="http://www.digitalgov.gov/category/ux/user-testing-research/">
            &ndash;&nbsp;&nbsp;User Testing &amp; Research
          </option>
        </select>
      </div>
    </div>
  </div>