<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="theme-color" content="#656bd7"/>
<link rel="apple-touch-icon" sizes="180x180" href='/assets/apple-touch-icon.png'>
<link rel="icon" type="image/png" sizes="32x32" href='/assets/favicon-32x32.png'>
<link rel="icon" type="image/png" sizes="16x16" href='/assets/favicon-16x16.png'>

<title><%= yield :page_title %> | DigitalGov</title>

<!-- Bootstrap core CSS -->
<%= stylesheet_link_tag    'application', media: 'all' %>

<%= csrf_meta_tags %>