<div id="topnav">
    <div class="limit clearfix">
      <!-- SEARCH FORM -->

      <form accept-charset="UTF-8" action="http://find.digitalgov.gov/search" id=
      "search_form" method="get" name="search_form">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="&#10003;" />
        </div><input id="affiliate" name="affiliate" type="hidden" value="digitalgov" />
        <label for="query">Enter Search Term(s):</label> <input autocomplete="off" class=
        "usagov-search-autocomplete ui-autocomplete-input" id="query" name="query" type=
        "text" role="textbox" aria-autocomplete="list" aria-haspopup="true" />
        <input name="commit" type="submit" value="Search" />
      </form><!-- PRIMARY NAVIGATION -->

      <ul class="nav">
        <li id="menu-item-492" class=
        "menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-472 current_page_item menu-item-492">
        <a href="http://www.digitalgov.gov/">Home</a></li>

        <li id="menu-item-98862" class=
        "menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-98862">
        <a href="http://www.digitalgov.gov/events/" class="sf-with-ul">Events</a>

          <ul class="sub-menu" style="display: none;">
            <li id="menu-item-152" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-152">
            <a href="http://www.digitalgov.gov/digitalgov-university/">DigitalGov
            University</a></li>

            <li id="menu-item-116512" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-116512">
            <a href=
            "http://www.digitalgov.gov/digitalgov-university/video-library/">Video
            Library</a></li>
          </ul>
        </li>

        <li id="menu-item-182" class=
        "menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-182">
        <a href="http://www.digitalgov.gov/communities/" class=
        "sf-with-ul">Communities</a>

          <ul class="sub-menu" style="display: none;">
            <li id="menu-item-96522" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-96522">
            <a href=
            "http://www.digitalgov.gov/communities/challenges-prizes-community/">Challenges
            &amp; Prizes</a></li>

            <li id="menu-item-1282" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-1282">
            <a href=
            "http://www.digitalgov.gov/communities/government-contact-center-council-g3c/">
            Contact Centers</a></li>

            <li id="menu-item-1272" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-1272">
            <a href="http://www.digitalgov.gov/communities/mobile/">Mobile</a></li>

            <li id="menu-item-1252" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-1252">
            <a href="http://www.digitalgov.gov/communities/social-media/">Social
            Media</a></li>

            <li id="menu-item-1262" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-1262">
            <a href="http://www.digitalgov.gov/communities/web-managers-forum/">Web
            Content Managers</a></li>
          </ul>
        </li>

        <li id="menu-item-212" class=
        "menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-212">
        <a href="http://www.digitalgov.gov/services/" class="sf-with-ul">Services</a>

          <ul class="sub-menu" style="display: none;">
            <li id="menu-item-2142" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-2142">
            <a href="http://www.digitalgov.gov/services/challenge-gov/">Challenges &amp;
            Prizes</a></li>

            <li id="menu-item-2122" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-2122">
            <a href="http://www.digitalgov.gov/services/sites-usa-gov/">Content
            Management Systems</a></li>

            <li id="menu-item-136112" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-136112">
            <a href=
            "http://www.digitalgov.gov/services/mobile-application-testing-program/">CrowdSource
            Mobile Testing</a></li>

            <li id="menu-item-1912" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-1912">
            <a href="http://www.digitalgov.gov/services/dap/">Digital Analytics Program
            (metrics)</a></li>

            <li id="menu-item-2242" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-2242">
            <a href="http://localhost:3000/">US Digital Registry Api</a></li>

            <li id="menu-item-2242" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-2242">
            <a href="http://localhost:3000/search">US Digital Registry Search</a></li>

            <li id="menu-item-105732" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-105732">
            <a href="http://www.digitalgov.gov/services/usa-gov-short-urls/">URL
            shortener</a></li>
          </ul>
        </li>

        <li id="menu-item-242" class=
        "menu-item menu-item-type-post_type menu-item-object-page menu-item-242"><a href=
        "http://www.digitalgov.gov/resources/">Resources</a></li>

        <li id="menu-item-642" class=
        "menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-642">
        <a href="http://www.digitalgov.gov/about/" class="sf-with-ul">About</a>

          <ul class="sub-menu" style="display: none;">
            <li id="menu-item-122712" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-122712">
            <a href="http://www.digitalgov.gov/contact-us/">Contact Us</a></li>
          </ul>
        </li>

        <li id="menu-item-2012" class=
        "menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2012">
        <a href="http://www.digitalgov.gov/join-digitalgov/" class="sf-with-ul">Join
        DigitalGov</a>

          <ul class="sub-menu" style="display: none;">
            <li id="menu-item-231522" class=
            "menu-item menu-item-type-post_type menu-item-object-page menu-item-231522">
            <a href=
            "http://www.digitalgov.gov/join-digitalgov/open-opportunities-in-digitalgov/">
            Open Opportunities</a></li>
          </ul>
        </li>
      </ul><label for="select-menu" style="display:none;">Mobile Navigation
      Menu</label><select class="select-menu" id="select-menu">
        <option value="#">
          Navigate to ...
        </option>

        <option value="http://www.digitalgov.gov/">
          &nbsp;Home
        </option>

        <option value="http://www.digitalgov.gov/events/">
          &nbsp;Events
        </option>

        <option value="http://www.digitalgov.gov/digitalgov-university/">
          &ndash;&nbsp;&nbsp;DigitalGov University
        </option>

        <option value="http://www.digitalgov.gov/digitalgov-university/video-library/">
          &ndash;&nbsp;&nbsp;Video Library
        </option>

        <option value="http://www.digitalgov.gov/communities/">
          &nbsp;Communities
        </option>

        <option value=
        "http://www.digitalgov.gov/communities/challenges-prizes-community/">
          &ndash;&nbsp;&nbsp;Challenges &amp; Prizes
        </option>

        <option value=
        "http://www.digitalgov.gov/communities/government-contact-center-council-g3c/">
          &ndash;&nbsp;&nbsp;Contact Centers
        </option>

        <option value="http://www.digitalgov.gov/communities/mobile/">
          &ndash;&nbsp;&nbsp;Mobile
        </option>

        <option value="http://www.digitalgov.gov/communities/social-media/">
          &ndash;&nbsp;&nbsp;Social Media
        </option>

        <option value="http://www.digitalgov.gov/communities/web-managers-forum/">
          &ndash;&nbsp;&nbsp;Web Content Managers
        </option>

        <option value="http://www.digitalgov.gov/services/">
          &nbsp;Services
        </option>

        <option value="http://www.digitalgov.gov/services/challenge-gov/">
          &ndash;&nbsp;&nbsp;Challenges &amp; Prizes
        </option>

        <option value="http://www.digitalgov.gov/services/sites-usa-gov/">
          &ndash;&nbsp;&nbsp;Content Management Systems
        </option>

        <option value=
        "http://www.digitalgov.gov/services/mobile-application-testing-program/">
          &ndash;&nbsp;&nbsp;CrowdSource Mobile Testing
        </option>

        <option value="http://www.digitalgov.gov/services/dap/">
          &ndash;&nbsp;&nbsp;Digital Analytics Program (metrics)
        </option>

        <option value=
        "http://www.digitalgov.gov/services/the-federal-mobile-apps-registry/">
          &ndash;&nbsp;&nbsp;U.S. Digital Registry
        </option>

        <option value="http://www.digitalgov.gov/services/search/">
          &ndash;&nbsp;&nbsp;Search
        </option>

        <option value="http://www.digitalgov.gov/services/social-media-registry/">
          &ndash;&nbsp;&nbsp;U.S. Digital Registry
        </option>

        <option value="http://www.digitalgov.gov/services/usa-gov-short-urls/">
          &ndash;&nbsp;&nbsp;URL shortener
        </option>

        <option value="http://www.digitalgov.gov/resources/">
          &nbsp;Resources
        </option>

        <option value="http://www.digitalgov.gov/about/">
          &nbsp;About
        </option>

        <option value="http://www.digitalgov.gov/contact-us/">
          &ndash;&nbsp;&nbsp;Contact Us
        </option>

        <option value="http://www.digitalgov.gov/join-digitalgov/">
          &nbsp;Join DigitalGov
        </option>

        <option value=
        "http://www.digitalgov.gov/join-digitalgov/open-opportunities-in-digitalgov/">
          &ndash;&nbsp;&nbsp;Open Opportunities
        </option>
      </select> <!-- SOCIAL MEDIA ICONS -->

      <div class="sub-icons">
        <ul class="clearfix">
          <li><a class="subicon rss" title="Subscribe via RSS Feed" href=
          "http://www.digitalgov.gov/feed/">RSS Feed</a></li>

          <li><a class="subicon facebook" title="Connect on Facebook" rel="external"
          href="http://www.facebook.com/digitalgov" target="_blank">Facebook</a></li>

          <li><a class="subicon twitter" rel="external" title="Follow Us on Twitter"
          href="http://www.twitter.com/digital_gov" target="_blank">Twitter</a></li>

          <li><a class="subicon gplus" title="Connect on Google Plus" rel="external"
          href="https://plus.google.com/109077476228639396954?rel=author" target=
          "_blank">Google</a></li>

          <li><a class="subicon youtube" title="Connect on YouTube" rel="external" href=
          "http://www.youtube.com/user/howtogov" target="_blank">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>