<!DOCTYPE html>
<html>
<head>
  <title>Unused layout</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div>
    <h1>Unused Layout</h1>
    <p>If you see this layout, something probably happened.  Seemingly bad, but who are we to judge?</p>
    <p>If you'd like to access something else, try these links<p>

    <ul>
      <li><%= link_to "admin", admin_dashboard_path %></li>
      <li><%= link_to "swagger", swagger_path %></li>
    </ul>

  </div>

</body>
</html>
