<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %> | DigitalGov</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
  <div>
    <%= yield %>
  </div>
  <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
<script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>
</body>
</html>
