<!DOCTYPE html>
<html>
<head>
  <title>Unused layout</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div>
    <%= yield %>
  </div>
</body>
</html>
