<div id="footer-widgets" class="maincontent">
    <div class="limit clearfix">
      <div class="footer-widget1">
        <div id="socialicons-widget-3" class="widget widget-1 widget-first socialicons"><div class="widget-wrap"><h3 class="widgettitle"><span>Connect</span></h3><div class="textwidget">
    <div class="sub-icons">

  <ul class="clearfix">

    <li><a class="subicon rss" title="Subscribe via RSS Feed" href="http://www.digitalgov.gov/feed/">RSS Feed</a></li>

    <li><a class="subicon facebook" title="Connect on Facebook" rel="external" href="http://www.facebook.com/digitalgov" target="_blank">Facebook</a></li>

    <li><a class="subicon twitter" rel="external" title="Follow Us on Twitter" href="http://www.twitter.com/digital_gov" target="_blank">Twitter</a></li>



    <li><a class="subicon gplus" title="Connect on Google Plus" rel="external" href="https://plus.google.com/109077476228639396954?rel=author" target="_blank">Google</a></li>






    <li><a class="subicon youtube" title="Connect on YouTube" rel="external" href="http://www.youtube.com/user/howtogov" target="_blank">Youtube</a></li>

  </ul>

</div>
    </div>
    </div></div><div id="text-2" class="widget widget-2 widget-last widget_text"><div class="widget-wrap">      <div class="textwidget"><a href="http://www.gsa.gov" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://www.gsa.gov']);"><img src="http://www.digitalgov.gov/files/2013/11/logo_footer_gsa.png" alt="GSA Service Mark" scale="0"></a>
<br>
U.S. General Services Administration
<br>
an official site of the U.S. Government
<br>
| <a href="http://www.digitalgov.gov/about">About</a> | <a href="http://www.digitalgov.gov/about/policies/">Site Policies</a> | <a href="http://www.digitalgov.gov/contact-us/">Contact Us</a> | 
</div>
    </div></div>      </div>
      <div class="footer-widget2">
        <div id="twitter_timeline-3" class="widget widget-1 widget-first widget_twitter_timeline"><div class="widget-wrap" data-twttr-id="twttr-sandbox-0"><h3 class="widgettitle"><span>Follow us on Twitter</span></h3><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" allowfullscreen="" style="border: none; max-width: 100%; min-width: 180px; width: 250px;" title="Twitter Timeline" height="384"></iframe></div></div>     </div>
      <div class="footer-widget3">
            <div id="recent-posts-2" class="widget widget-1 widget-first widget_recent_entries"><div class="widget-wrap">   <h3 class="widgettitle"><span>Recent Posts</span></h3>    <ul>
          <li>
        <a href="http://www.digitalgov.gov/2015/02/17/trends-on-tuesday-top-five-trends-in-mobile-app-design-for-2015/">Trends on Tuesday: Top Five Trends in Mobile App Design for 2015</a>
            </li>
          <li>
        <a href="http://www.digitalgov.gov/2015/02/13/dont-forget-the-long-tail-it-can-deliver-value/">Don’t Forget the Long Tail: It Can Deliver Value</a>
            </li>
          <li>
        <a href="http://www.digitalgov.gov/2015/02/13/institutionalizing-user-experience-building-usability-into-your-organization/">Institutionalizing User Experience: Building Usability into Your Organization</a>
            </li>
          <li>
        <a href="http://www.digitalgov.gov/2015/02/12/ifttt-combines-social-media-mobile-and-internet-of-things-for-government/">IFTTT Combines Social Media, Mobile and Internet of Things for Government</a>
            </li>
          <li>
        <a href="http://www.digitalgov.gov/2015/02/12/a-february-focus-on-content-on-digitalgov/">A February Focus on Content on DigitalGov</a>
            </li>
        </ul>
    </div></div>      </div>
      <div class="footer-widget4">
        <div id="tribe-events-list-widget-7" class="widget widget-1 widget-first tribe-events-list-widget"><div class="widget-wrap"><h3 class="widgettitle"><span>Upcoming Events</span></h3><ol class="hfeed vcalendar">
<li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-245312 tribe-clearfix tribe-events-category-mobile tribe-events-category-webinar-2 tribe-events-venue-2572 tribe-events-organizer-2562 tribe-events-first tribe-events-last">
  <h4 class="entry-title summary">
      <a href="http://www.digitalgov.gov/event/mobilegov-around-the-horn-call-whats-your-mobile-strategy-itch/" rel="bookmark">MobileGov Around The Horn Call: What’s Your Mobile Strategy Itch?</a>
  </h4> 
  <!-- Event Time -->
  <div class="duration">
    <span class="date-start dtstart">February 19 @ 11:00 AM<span class="value-title" title="2015-02-19EST11:00"></span></span> - <span class="end-time dtend">12:00 PM<span class="value-title" title="2015-02-19EST12:00"></span></span> </div>
  <!-- Event Title -->
</li>

<li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-242092 tribe-clearfix tribe-events-category-challenges-prizes tribe-events-category-webinar-2 tribe-events-venue-2572 tribe-events-organizer-2562 tribe-events-first tribe-events-last">
  <h4 class="entry-title summary">
      <a href="http://www.digitalgov.gov/event/challenge-and-prize-database-background-data-scrub-reporting-instructions-for-fy15/" rel="bookmark">Challenge and Prize Database: Background, Data Scrub, &amp; Reporting Instructions for FY15</a>
  </h4> 
  <!-- Event Time -->
  <div class="duration">
    <span class="date-start dtstart">February 19 @ 2:00 PM<span class="value-title" title="2015-02-19EST02:00"></span></span> - <span class="end-time dtend">3:00 PM<span class="value-title" title="2015-02-19EST03:00"></span></span> </div>
  <!-- Event Title -->
</li>

<li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-243692 tribe-clearfix tribe-events-category-content tribe-events-category-managing-digital tribe-events-category-webinar-2 tribe-events-category-writing tribe-events-venue-2572 tribe-events-organizer-2562 tribe-events-first tribe-events-last">
  <h4 class="entry-title summary">
      <a href="http://www.digitalgov.gov/event/customer-experience-case-study-cdc-clear-communication-index/" rel="bookmark">Customer Experience Case Study: CDC’s Clear Communication Index</a>
  </h4> 
  <!-- Event Time -->
  <div class="duration">
    <span class="date-start dtstart">February 24 @ 2:00 AM<span class="value-title" title="2015-02-24EST02:00"></span></span> - <span class="end-time dtend">3:00 PM<span class="value-title" title="2015-02-24EST03:00"></span></span> </div>
  <!-- Event Title -->
</li>

<li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-246192 tribe-clearfix tribe-events-category-in-person tribe-events-category-mobile tribe-events-venue-98072 tribe-events-organizer-2562 tribe-events-first tribe-events-last">
  <h4 class="entry-title summary">
      <a href="http://www.digitalgov.gov/event/privacy-and-identity-management-approaches-for-mobile/" rel="bookmark">Privacy and Identity Management Approaches For Mobile</a>
  </h4> 
  <!-- Event Time -->
  <div class="duration">
    <span class="date-start dtstart">February 25 @ 9:00 AM<span class="value-title" title="2015-02-25EST09:00"></span></span> - <span class="end-time dtend">12:00 PM<span class="value-title" title="2015-02-25EST12:00"></span></span>  </div>
  <!-- Event Title -->
</li>

<li class="tribe-events-list-widget-events hentry vevent type-tribe_events post-242822 tribe-clearfix tribe-events-category-content tribe-events-category-in-person tribe-events-category-managing-digital tribe-events-category-metrics tribe-events-category-webinar-2 tribe-events-venue-2572 tribe-events-organizer-2562 tribe-events-first tribe-events-last">
  <h4 class="entry-title summary">
      <a href="http://www.digitalgov.gov/event/straight-to-the-top-best-bets-in-digitalgov-search-intermediate/" rel="bookmark">Straight to the Top: Best Bets in DigitalGov Search (Intermediate)</a>
  </h4> 
  <!-- Event Time -->
  <div class="duration">
    <span class="date-start dtstart">February 25 @ 2:00 PM<span class="value-title" title="2015-02-25EST02:00"></span></span> - <span class="end-time dtend">3:00 PM<span class="value-title" title="2015-02-25EST03:00"></span></span> </div>
  <!-- Event Title -->
</li>
</ol><!-- .hfeed --><p class="tribe-events-widget-link"><a href="http://www.digitalgov.gov/events/month/" rel="bookmark">View All Events</a></p></div></div>      </div>
    </div>
  </div>