<p>Hello,<br>
Someone (probably you) has requested a change to the USA.gov Social Media Registry. 
Account to be created or updated: <%= @service_url %></p>

<p>This account will not be added to the Registry (or you can't edit it) until you verify its authenticity by clicking on the link below.</p>

<p>Only verify accounts that are managed by U.S. federal government agencies, organizations, or programs. You can also register accounts managed by elected officials (not campaign accounts), heads of agencies, or members of the President&rsquo;s Cabinet. <strong>Do not enter personal, employee, state or local government, or other types of accounts.</strong></p>

<p>To confirm your submission and verify your understanding of the above, please follow this link: <%= @link_url %></p>

<p>If you have any questions, please email socialmediaregistry@gsa.gov.</p>

<p>Thank you,</p>

<p>The USA.gov Social Media Registry team.</p>

<p>Sent to <%= @auth_token.email %></p>