<p>{Text about what the Registry is and who requested this token.} <%= @auth_token.email %></p>

<p>To continue, follow this link: <%= @link_url %></p>

<p>If you have any questions, {instructions for support}</p>

<p>Yours,<br>
The Social Media Registry</p>
