<p>Hello, someone (probably you) has submitted <%= @service_url %> to be included as an official social media account in the USA.gov Social Media Registry.</p>

<p>This submission will not be complete until you click on the link included below. Please understand that the USA.gov Social Media Registry should only include accounts that represent official U.S. government agencies, organizations, or programs. <strong>Do not submit any accounts that represent non-government organizations or individual people, even if they are government employees.</strong></p>

<p>To confirm your submission and verify your understanding of the above, please follow this link: <%= @link_url %>.</p>

<p>If you have any questions about this service, please email registry@gsa.gov.</p>

<p>Thank you,</p>

<p>The USA.gov Social Media Registry team.</p>

<p>Sent to <%= @auth_token.email %></p>