<p>Hello, someone (probably you) has submitted <%= @service_url %> to be included as an official social media account in the USA.gov Social Media Registry.</p>

<p>This submission will not be complete until you click on the link included below. Please understand that the Social Media Registry only includes accounts that represent official U.S. government agencies, organizations, or programs. You can register accounts managed by federal agencies, elected officials (not campaign accounts) or members of the President’s Cabinet. <strong>Do not enter personal, employee, or other types of accounts.</strong></p>

<p>To confirm your submission and verify your understanding of the above, please follow this link: <%= @link_url %>.</p>

<p>If you have any questions about this service, please email registry@gsa.gov.</p>

<p>Thank you,</p>

<p>The USA.gov Social Media Registry team.</p>

<p>Sent to <%= @auth_token.email %></p>